project:
  type: website
  output-dir: docs

website:
  title: "Elegansity"
  navbar:
    left:
      - href: index.qmd
        text: Home
    right: 
      - href: posts.qmd
        text: Posts
      - about.qmd

format:
  html:
    theme:
      - cosmo
      - brand
    css: styles.css
    toc: true



